[submodule "Animation"]
	path = Animation
	url = https://github.com/dhruvbhardwaj14/Animation
[submodule "BetterRest"]
	path = BetterRest
	url = https://github.com/dhruvbhardwaj14/BetterRest
[submodule "BookWorm"]
	path = BookWorm
	url = https://github.com/dhruvbhardwaj14/BookWorm.git
[submodule "BucketList"]
	path = BucketList
	url = https://github.com/dhruvbhardwaj14/Bucketlist.git
